@model IEnumerable<Order>

    @{
        ViewData["Title"] = "Cashier";
    }

    <table class="Table4" style="position: absolute; left: 60px; top: 20px">
        <thead>
            <tr class="darkRow">
                <th><h2> Order </h2></th>
                <th><h2> Customer </h2></th>
                <th><h2> E-mail </h2></th>
                <th><h2> Status </h2></th>
                <th><h2> Product </h2></th>
            </tr>
        </thead>
        <tbody>
            <tr class="lightRow"><td>20005</td><td>99914</td><td>smaryann@gmail.com	     </td><td> PA </td><td>Slice of cake</td></tr>
            <tr class="lightRow"><td>20006</td><td>99914</td><td>smaryann@gmail.com	     </td><td> PA </td><td>Burguer with fries</td></tr>
            <tr class="lightRow"><td>20007</td><td>99915</td><td>pp@gmail.com	         </td><td> CA </td><td>Dark Nestle</td></tr>
            <tr class="lightRow"><td>20008</td><td>99921</td><td>smithmichael@gmail.com  </td><td> PA </td><td>Burguer with fries</td></tr>>
            <tr class="lightRow"><td>20009</td><td>1	</td><td>OWNER1@gmail.com        </td><td> PA </td><td>Frozen Pizza</td></tr>
            <tr class="lightRow"><td>     </td><td>  	</td><td>                        </td><td> PA </td><td>Burguer with fries</td></tr>>
            <tr class="lightRow"><td>     </td><td> 	</td><td>                        </td><td> PA </td><td>Slice of cake</td></tr>
            <tr class="lightRow"><td>20010</td><td>99921</td><td>smithmichael@gmail.com  </td><td> PA </td><td>Slice of cake</td></tr>
            <tr class="lightRow"><td>20011</td><td>99922</td><td>irene_stark@gmail.com   </td><td> PA </td><td>Burguer with fries</td></tr>>
            <tr class="lightRow"><td>20012</td><td>99923</td><td>pedro9090@gmail.com     </td><td> PA </td><td>Burguer with fries</td></tr>>
            <tr class="lightRow"><td>20013</td><td>99923</td><td>pedro9090@gmail.com     </td><td> PA </td><td>Dark Nestle</td></tr>
            <tr class="lightRow"><td>     </td><td>     </td><td>                        </td><td> PA </td><td>Slice of cake</td></tr>
            <tr class="lightRow"><td>20014</td><td>99924</td><td>mary-peterson@gmail.com </td><td> PA </td><td>Dark Nestle</td></tr>
            <tr class="lightRow"><td>     </td><td>     </td><td>                        </td><td> PA </td><td>Slice of cake</td></tr>
            <tr class="lightRow"><td>20015</td><td>99925</td><td>macfarllen@gmail.com    </td><td> PA </td><td>Slice of cake</td></tr>
            <tr class="lightRow"><td>     </td><td>     </td><td>                        </td><td> PA </td><td>Dark Nestle</td></tr>
            <tr class="lightRow"><td>20016</td><td>99925</td><td>macfarllen@gmail.com    </td><td> PA </td><td>Slice of cake</td></tr>
            <tr class="lightRow"><td>     </td><td>     </td><td>                        </td><td> PA </td><td>Dark Nestle</td></tr>
        </tbody>
    </table>
