@model IEnumerable<Product>

@{
    ViewData["Title"] = "Cashier";
}


<table>
    <tr style="position: absolute; left: 25px; top: 15px">
        <th> <h3> Opened: August 25 2019, 10:09am </h3> </th>
    </tr>
</table>

<table class="Table2" style="position: absolute; left: 60px; top:120px">
    <thead>
        <tr class="darkRow">
            <th><h2> Payment Type </h2></th>
            <th><h2> Amount </h2></th>
            <th><h2> Amount to Post </h2></th>
        </tr>
        <tr class="lightRow">
            <td><h2> Credit Card </h2></td>
            <td><h2> 1,909.19 </h2></td>
            <td><h2> 1,909.19 </h2></td>
        </tr>
        <tr class="lightRow">
            <td><h2> Debit Card </h2></td>
            <td><h2> 1,653.91 </h2></td>
            <td><h2> 1,653.91 </h2></td>
        </tr>
        <tr class="lightRow">
            <td><h2> Cash </h2></td>
            <td><h2> 2,854.14 </h2></td>
            <td><h2> 2,500.00 </h2></td>
        </tr>
        <tr class="lightRow">
            <td><h2> Total </h2></td>
            <td><h2> 6,417.24 </h2></td>
            <td><h2> 6,063.10 </h2></td>
        </tr>
    </thead>
</table>


<table>
    <thead>
        <tr style="position: absolute; left: 750px; top: 20px">
            <th> <h3> Amount left Cashier </h3> </th>
        </tr>
        <tr style="position: absolute; left: 825px; top: 110px">
            <td> <h1> $ 354.14 </h1> </td>
        </tr>

        <tr style="position: absolute; left: 845px; top: 320px">
            <td class="button"> Close Cashier </td>
            <td class="button"> Cancel </td>
        </tr>
</table>

<table>
    <tr style="position: absolute; left: 825px; top: 220px">
        <th> <h3> Sales on the Day </h3> </th>
    </tr>
</table>


<table class="Table3" style="position: absolute; left: 750px; top: 420px">
    <thead>
        <tr class="darkRow">
            <th><h2> Credit </h2></th>
            <th><h2> Debit </h2></th>
            <th><h2> Cash </h2></th>
            <th><h2> Total </h2></th>
        </tr>
        <tr class="lightRow">
            <td><h2> 131 </h2></td>
            <td><h2> 250 </h2></td>
            <td><h2> 327 </h2></td>
            <td><h2> 708 </h2></td>
        </tr>
    </thead>
</table>
